@use "../utils/colors.scss";
@use "../utils/variables.scss";
@use "../utils/mixins.scss";

.ApartmentCards {
    background: colors.$secondary;
    width: 100%;
    @include mixins.border-card;
    display: flex;
    flex-flow: wrap;
    gap: 1rem;
    margin-bottom: 2rem;
    justify-content: space-around;
    @media (max-width: variables.$mobile) {
        background: white;
        justify-content: center;
        padding: 0;
        gap: 0.7rem;    }
}