@use "../utils/colors.scss";
@use "../utils/variables.scss";

.footer {
    background-color: black;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .footer__txt {
        color: white;
        font-weight: 700;
        padding-bottom: 1rem;
        font-size: 12px;
        @media screen and (max-width:variables.$mobile) {
            font-weight: 500;
            font-size:small;
        }
    }

    .footer__logo {
        display: flex;
        align-items: center;
        justify-content: center;
    img {
        color: colors.$secondary;
        width: 25%;       
        margin-bottom: 1rem;
    }}}