.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../images/banner.png");
    min-height: 200px;
    margin: 3rem auto;
    margin-bottom: 2rem;
    border-radius: 2rem;
    display: grid;
    place-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;

    h1 {
        display: flex;
        gap: 1px;

    span {
        color: white;
        font-weight: 500;        
    }}
}

@media screen and (max-width: 768px) {
        
    .banner {
        margin: 2rem auto;
        justify-content: flex-start;
        padding: 0 1rem;

    }
    
    h1 {
        font-size: 22px;
        flex-direction: column;
        display: flex;
        align-items: flex-start;
}}