@use "../utils/colors.scss";
@use "../utils/mixins.scss";
@use "../utils/variables.scss";

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: colors.$primary;
    margin-top: 2rem;

    .navbar__logo img {
      border-bottom: none;
    }
    
    .navbar__links {
        display: flex;
        gap: 1rem;
        list-style-type: none;
        padding: 0;
        
        }
        a {
            text-decoration: none;
            color: colors.$primary
        }
        & .active {
          text-decoration: underline;
        }
        @media (max-width:  758px) {
            
            .navbar__links {
                font-size: 12px;
                text-transform: uppercase;
            }
        
            .navbar__logo img {
              width: 7rem
            }
        }
    }
    
    
    
    

