@use "./utils/variables.scss";

body {
    max-width: variables.$laptop;
    margin: 0 auto;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    @media (max-width:variables.$mobile) {
        padding: 0;
    }
}